# Clerk Authentication Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL=sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=sign-up

# Database Connection (Neon PostgreSQL / Supabase)
# Connect to via connection pooling
DATABASE_URL="postgresql:..."
# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql:..."

# Arcjet Key for Security
ARCJET_KEY=ajkey_...

# Google Gemini API Key for AI Insights
GEMINI_API_KEY=AIZa...

# Resend API Key for Email Delivery
RESEND_API_KEY=re_...
